<div class="container">
  <h1>Our <span>Cruise</span> list</h1>
    <h4>Take a look at our best offers and travel destinations:</h4>
  <div class="d-flex justify-content-center">
    <% @cruises.each do |cruise| %> 
      <div class="row m-4">
        <div class="card bg-light">
        <img src=<%= cruise.image_url %> class="card-img-top" >
          <div class="card-body d-flex align-items-center"> 
            <div class="col">
              <h5 class="row card-title text-white"> <%= cruise.name %> </h5>
              <p class="row card-text text-white"><%= cruise.description.first(40)... %></p>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> Location: <%= cruise.location %></li>
            <li class="list-group-item"> Price: Rs<%= cruise.price %></li>
          </ul>
          <div class="card-body">
            <%= link_to "Book Now",  cruise_path(cruise), class: "btn btn-booknow card-link"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
