<div class="bannered">
  <h1>show cruise</h1>
</div>



<h5 class="card-title text-white"> <%= @cruise.name %> </h5>

<div class="main-container">
  <div class="left-side">
  <%= image_tag @cruise.image_url %>
  </div>

  <div class="right-side">
    <div class="description"><%= @cruise.description %></div>
    <div class="colo-wrapper">
      <div class="colo"><h2>logo on top  for all 3 </h2> Duration: <%= @cruise.duration_of_cruise %></div>
      <div class="colo"> Location: <%= @cruise.location %></div>
      <div class="colo"> Price: Rs<%= @cruise.price %></div>
    </div>
  </div>
</div>

<div class="bottom-container">
  <div class="left-bottom"> <h1>map</h1></div>
  <div class="right-bottom">
    <div class="row-one"><p>Extra offers<%= @cruise.extra_offers %></p></div>
    <div class="row-two"><p><%= @cruise.cancellation_policy %></p></div>
  </div>
          <div class="card-body d-flex justify-content-around">
            <%= simple_form_for([@cruise, @booking]) do |f| %>
                <%=  f.hidden_field :total_price, :value => @cruise.price %>
                <%= f.button :submit, class: "btn btn-booknow card-link" %>
            <% end %>
            <%= link_to "Return Back",  cruises_path, class: "btn btn-booknow card-link"%>
          </div>
</div>



