<div class="d-flex justify-content-center align-items-start" style="height: 100vh; background-position: center; background-size: cover; background-repeat: no-repeat; background-image: url('<%= @cruise.image_url %>')">

  <div class="card py-3 px-5" style="opacity: 0.9; margin-top: 5rem; margin-left: 10rem; max-width: 1024px">
    <h1 style="font-size: 1.5rem; margin-top: 0;"><%= @cruise.name %></h1>
    <%= simple_form_for(@booking) do |f| %>
      <%= f.hidden_field :total_price, :value => @cruise.price %>
      <%= f.hidden_field :cruise_id, :value => @cruise.id %>
      <%= f.input :schedule_date, as: :date,
                    start_year: Date.today.year,
                    end_year: Date.today.year+1, discard_day: false,
                    order: [:day, :month, :year] %>
      <%= f.button :submit, class: "btn btn-booknow", value: "Confirm Booking" %>
      <%= link_to "Back",  cruises_path, class: "btn btn-secondary" %>
    <% end %>
    <br>
    <div>    
      <%= @cruise.description %>
    </div>
    <div>
      <h2 class="cruise-heading">Extra Offers</h2>
      <%= @cruise.extra_offers %>
    </div>
    <div>
      <h2 class="cruise-heading">Cancellation Policy</h2>
      <%= @cruise.cancellation_policy %>
    </div>
    <br>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-start" style="margin-top: -1rem;">
    <div class="cruise-options">
      <i class="fas fa-stopwatch" ></i>
      <h3>Duration</h3>
      <span>
        <%= @cruise.duration_of_cruise %>
      </span>
    </div>
    <div class="cruise-options">
      <i class="fas fa-map-marked-alt" ></i>
      <h3>Departure</h3>
      <span>
        <%= @cruise.location %>
      </span>
    </div>
    <div class="cruise-options">
      <i class="far fa-credit-card" ></i>
      <h3>Price</h3>
      <span>
        Rs <%= @cruise.price.to_i %>
      </span>
    </div>
  </div>
</div>

