<h1>show cruise</h1>

  <div class="d-flex justify-content-center">
      <div class="row justify-content-center m-4">
        <div class="card w-50 bg-light">
          <div class="card-body" style="height: 300px; margin-top: 10px; margin-bottom: 10px; border-radius: 6px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path("cruise/mauritius-marine-discovery-package_2_azn1bc", height: 300, crop: :fit) %>')">
            <h5 class="card-title text-white"> <%= @cruise.name %> </h5>
            <p class="card-text text-white"><h6 class="text-white">Duration of Cruise:</h6></p>
            <p class="card-text text-white"><%= @cruise.description %></p>
            <p class="card-text text-white"><%= @cruise.extra_offers %></p>
            <p class="card-text text-white"><%= @cruise.cancellation_policy %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> Location: <%= @cruise.location %></li>
            <li class="list-group-item"> Price: Rs<%= @cruise.price %></li>
          </ul>
          <div class="card-body d-flex justify-content-around">
            <%= simple_form_for([@cruise, @booking]) do |f| %>
                <%=  f.hidden_field :total_price, :value => @cruise.price %>
                <%= f.button :submit, class: "btn btn-booknow card-link" %>
            <% end %>
            <%= link_to "Return Back",  cruises_path, class: "btn btn-booknow card-link"%>
          </div>
        </div>
      </div>
  </div>
